
@{
    Layout = "~/Areas/Client/Views/Shared/_LayoutClientHome.cshtml";
}

<!-- Filter-Form -->
<section id="filter_form" class="gray-bg">
    <div class="container">
        <h3>Find Your Dream Car <span>(Easy search from here)</span></h3>
        <div class="row">
            @using (Html.BeginForm("Index", "ListCar", FormMethod.Get))
            {

                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        @Html.DropDownList("ddlBodystyle",null,"Select Body Style",new { @class = "form-control" } )
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">            
                        
                        
                        @Html.DropDownList("ddlManufacture",null,"Select Brand",new {@class="form-control",@onchange="ajaxrq(this.value)" })
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        @Html.DropDownList("ddlModel",null,"Select Model",new { @class="form-control", id="model"})
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option value="">Year of Model </option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 black_input">
                    <label class="form-label">Price Range ($)</label>
                    <input id="price_range" type="text" name="price" class="span2" value="" data-slider-min="1000" data-slider-max="100000" data-slider-step="5"
                           data-slider-value="[15000,80000]">
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option value="">Type of Car </option>
                            <option value="New">New Car</option>
                            <option value="Used">Used Car</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search Car </button>
                </div>
            }
        </div>
    </div>
</section>

<!-- /Filter-Form -->

<!-- Resent Cat-->
<section class="section-padding gray-bg">
    <div class="container">
        <div class="section-header text-center">
            <h2>Find the Best <span>CarForYou</span></h2>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
                a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
            </p>
        </div>
        <div class="row">

            <!-- Nav tabs -->
            <div class="recent-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#resentnewcar" role="tab" data-toggle="tab">New Car</a></li>
                    <li role="presentation"><a href="#resentusecar" role="tab" data-toggle="tab">Use Car</a></li>
                </ul>
            </div>
            <!-- Recently Listed New Cars -->
            <div class="tab-content">
                @{Html.RenderAction("NewCarPartial", "Home");}

                <!-- Recently Listed Used Cars -->
                @{ Html.RenderAction("UsedCarPartial", "Home");}
            </div>
        </div>
    </div>
</section>
<!-- /Resent Cat -->
<!-- Fun Facts-->
<section class="fun-facts-section">
    <div class="container div_zindex">
        <div class="row">
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-calendar" aria-hidden="true"></i>40+</h2>
                        <p>Years In Business</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-car" aria-hidden="true"></i>1200+</h2>
                        <p>New Cars For Sale</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-car" aria-hidden="true"></i>1000+</h2>
                        <p>Used Cars For Sale</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-3">
                <div class="fun-facts-m">
                    <div class="cell">
                        <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i>600+</h2>
                        <p>Satisfied Customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Fun Facts-->

<!--Discount Car-->
@{ Html.RenderAction("SpecialOffer", "Home");}
<!--/Discount Car-->

<!--Blog-->
@{ Html.RenderAction("BlogPartial", "Home");}
@section script{
    <script>
        $(document).ready(function () {
            var s='@TempData["Link"]';
            console.log(s);

        })
        var ajaxrq = function (o) {

            $.ajax({
                type: "Get",
                url: "/Client/Home/UpdateModel?BrandName=" + o,                
                contentType: "application/json; charset=utf-8",                
                success: function(result) {
                    $('#model').html(result);
                },
                error: errorFunc
            });

            function successFunc(result) {
                $('#model').html(result); 

            }

            function errorFunc() {
                alert('error');
            }
        

        }
    </script>
    
    }