

<div class="sidebar_widget">
    <div class="widget_heading">
        <h5><i class="fa fa-filter" aria-hidden="true"></i> Find Your Dream Car </h5>
    </div>
    <div class="sidebar_filter">
        @using (Ajax.BeginForm("CarListPartial", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "CarList" }))
        {
            <div class="form-group select">
                <select class="form-control">
                    <option>Select Location</option>
                   
                    <option>Audi</option>
                    <option>BMW</option>
                    <option>Nissan</option>
                    <option>Toyota</option>
                    <option>Volvo</option>
                    <option>Mazda</option>
                    <option>Mercedes-Benz</option>
                    <option>Lotus</option>
                </select>
            </div>
            <div class="form-group select">
               @Html.DropDownList("ddlManufacture", null, "Select Brand", new { @class = "form-control" })
            </div>
            <div class="form-group select">
                @Html.DropDownList("ddlModel", null, "Select Model", new { @class = "form-control" })
            </div>
            <div class="form-group select">
                <select class="form-control">
                    <option>Year of Model </option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2009</option>
                    <option>2008</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Price Range ($)</label>
                <input id="price_range" type="text" name="price" class="span2" value="" data-slider-min="5000" data-slider-max="100000" data-slider-step="100" data-slider-value="[15000,80000]">
            </div>
            <div class="form-group select">
                <select name="NewOld" class="form-control">
                    <option value="">Type of Car </option>
                    <option value="New">New Car</option>
                    <option value="Old">Used Car</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search Car</button>
            </div>
        }
    </div>
        
</div>


